<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.gasstations">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GasStations">

        <service
            android:name=".data.service.SynchronizationService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".app.presentation.append.AppendActivity"
            android:parentActivityName=".app.presentation.main.MainActivity" />
        <activity android:name=".app.presentation.edit.EditActivity"
            android:parentActivityName=".app.presentation.main.MainActivity" />
        <activity android:name=".app.presentation.main.MainActivity" />
        <activity android:name=".app.presentation.split.SplitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>